* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;

}
img{
  object-fit: cover;
}
.headerBymHover:hover {
  background-color: white !important;
  color: black !important;
}

.nav {
  background-repeat: no-repeat;
  background-size: cover;
}
.carousel-caption {
  text-align: left !important;
}

.navbar {
  position: absolute;
  top: 0;
}
.carousel {
  position: absolute;
  top: 0;
}
.card:hover {
  box-shadow: 3px 2px 10px 1px;
}

.navbar-nav a:hover {
  transition: all.5s;

  color: black !important;
  background-color: white;
}
.up {
  width: 80px;
  height: 80px;
  position: fixed;
  bottom: 2%;
  right: 2%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}
.up a {
  color: #0798bc46;
  font-size: 60px;
}
.up:hover {
  background-color: rgba(128, 128, 128, 0.233);
  z-index: 1;
}
.up a:hover {
  color: #0798bc;
}






/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .navbar-brand {
    display: block;
  }
  .offers{
    width: 100% !important;
  }
  .info{
    display: none !important;
  }
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .navbar-brand {
    display: block;
  }
  .info{
    display: none !important;
  }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .navbar-brand {
    display: block;
  }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .navbar-brand {
    display: none;
    
  }
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .navbar-brand {
    display: none;
  }
}
@media (max-width: 992px) {
.caurselHide{
  display: none;
}
#home,.CarusHeight, .CarusHeight img{
  height: 70vh;
}
}
